.MidBot {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    overflow: hidden;
    line-height: 0;
    transform: scaleX(-1) rotate(180deg);
    z-index: 11;
}

.MidBot svg {
    position: relative;
    display: block;
    width: calc(172% + 1.3px);
    height: 218px;
    transform: rotateY(180deg);
    
}

.MidBot .shape-fill {
    fill: rgba(255, 255, 255, 0);
}
@media  (min-width: 360px)  {
    .MidBot {
        width: 100vw;
        height: 70px;
    }
}
@media  (min-width: 412px)  {
    .MidBot {

        height: 73px;
    }
}

@media (min-width: 1440px) { 
    
    .MidBot {
        position: relative;
        height: 86px;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: 11;
    }
    
}
@media (min-width: 1360px)  {
    .MidBot {
        position: relative;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        overflow: hidden;
        transform: scaleX(-1) rotate(180deg);
        z-index: 11;
        
    }
    
    .MidBot svg {
        position: relative;
        display: block;
        width: calc(172% + 1.3px);
        height: 218px;
        transform: rotateY(180deg);
      
    }
    
    .MidBot .shape-fill {
        fill: rgba(255, 255, 255, 0);
        
    }
}

